---
layout: default
---
<div class="home">
    <div id="main" class="home-title-section">
        <h1 class="home-title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
        {% if site.description %}
        <p class="home-subtitle">{{ site.description }}</p>
        {% endif %}
    </div>

    {% if paginator.page == 1 or paginator.page == nil %}
    <div class="home-content">
        {% capture home_content %}{% include home-content.md %}{% endcapture %}
        {{ home_content | markdownify }}
    </div>
    {% endif %}
    {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
</div>
